{
  "parser": "babel-eslint",
  "extends": ["semistandard", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "brace-style": [
      "error",
      "1tbs",
      {
        "allowSingleLine": false
      }
    ],
    "prettier/prettier": "error",
    "comma-dangle": [
      "error",
      {
        "arrays": "only-multiline",
        "objects": "only-multiline",
        "imports": "only-multiline",
        "exports": "only-multiline",
        "functions": "ignore"
      }
    ],
    "curly": ["error", "all"],
    "quotes": ["error", "single", { "avoidEscape": true }]
  },
  "overrides": [
    {
      "files": ["src/*.js", "test/*.js", "patches/*.js"]
    }
  ],
  "env": {
    "mocha": true
  }
}
